/* Fonts */
@font-face {
  font-family: 'Xolonium';
  src: url('../fonts/xolonium-webfont.eot');
  src: url('../fonts/xolonium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/xolonium-webfont.woff') format('woff'),
  url('../fonts/xolonium-webfont.ttf') format('truetype'),
  url('../fonts/xolonium-webfont.svg#XoloniumNormal') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/PTS55F-webfont.eot');
  src: url('../fonts/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/PTS55F-webfont.woff') format('woff'),
       url('../fonts/PTS55F-webfont.ttf') format('truetype'),
       url('../fonts/PTS55F-webfont.svg#pt_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Foundation Overrides */
h1, h2, h3, h4, h5 {
  color: rgb(195, 195, 195);
  font-family: "Xolonium", Helvetica, Arial, sans-serif;
}
body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/bg.jpg') no-repeat fixed center center / cover #000;
  color: rgb(155, 155, 155);
  font-family: 'PT Sans', serif;
}
p {
  font-size: 1.2rem;
  color: rgb(155, 155, 155);
}
hr {
  border-color: #1b1b1b;
}
ul, ol, dl {
  font-size: 1.1rem;
}
.top-bar {
  height: 50px;
}
.top-bar .name h1 a {
  color: rgb(200, 200, 200);
  font-size: 1.1rem;
  text-shadow: 0px 1px 1px rgba(200, 200, 200, 0.4);
}
.top-bar-section ul li {
  background: none;
}
.top-bar-section ul li > a {
  color: rgb(200, 200, 200);
  font-family: 'Xolonium';
  font-size: 1rem;
  text-shadow: 0px 1px 1px rgba(200, 200, 200, 0.4);
}
.top-bar-section li:not(.has-form) a:not(.button) {
  line-height: 50px;
}
.top-bar, .contain-to-grid {
  background: linear-gradient( rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 95% );
  margin-bottom: 15px;
}
.top-bar.expanded .title-area {
  background: none;
}
.top-bar-section li:not(.has-form) a:not(.button) {
  background: none;
}
.top-bar-section li:not(.has-form) a:not(.button):hover {
 background: #333;
}
.panel {
  background-color: #151515;
  border-color: rgb(40, 40, 40);
}
.panel h1, .panel h2, .panel h3, .panel h4, .panel h5, .panel h6, .panel p, .panel li, .panel dl {
  color: #777777;
}
.th {
  box-shadow: 0 0 6px 1px rgba(0, 140, 186, 0.4);
}
.th:hover, .th:focus {
  box-shadow: 0 0 6px 1px rgba(0, 140, 186, 0.7);
}

/* Sections */
body > section.pad {
  padding: 7rem 0 7rem 0;
}

/* Main section */
#download-button {
  margin: 3rem;
}

#download-button > a.button {
  box-shadow: 0px 0.1em 0px rgba(255, 255, 255, 0.1) inset, 0px -0.15em 0px rgba(0, 0, 0, 0.2) inset, 0px 0.15em 0px rgba(0, 0, 0, 0.075);
}

/* Section Backgrounds */
.section-summary {
  background-color: #171717;
}
.section-summary > .screenshots {
  margin-top: 3rem;
}
.section-weapon, .section-maps, .section-hud, .section-links {
  background: black;
}
.section-game-mode {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)) repeat scroll 0% 0%, url('../img/section-bg1.jpg') no-repeat fixed center center / cover #000;
}
.section-stats {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)) repeat scroll 0% 0%, url('../img/section-bg2.jpg') no-repeat fixed center center / cover #000;
}
.section-competitive-casual {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) repeat scroll 0% 0%, url('../img/section-bg3.jpg') no-repeat fixed center center / cover #000;
}
.section-links ul {
  list-style: none outside none;
  margin:0;
  padding: 0;
  text-align: center;
}
.section-links li {
  font-size: 5rem;
  margin: 0 30px;
  display: inline;
}
.section-links a {
  color: #B0B0B0;
}
.section-links a:hover {
  color: #6E6E6E;
}

/* Slogan */
.slogan {
  text-shadow: 2px 2px #363636;
}

/* Thumbnails */
.th {
  border-color: #0E0E0E;
}
.m10 { margin: 10px; }

/* Post date */
.post-date {
  color: rgb(85, 85, 85);
  font-style: italic;
  margin-bottom: 15px;
}
.post-block .post-date {
    margin-bottom: 5px;
}

/* Post listings */
.post-listing ol {
    list-style-type: none;
    margin: 0;
}
.post-listing .post-date {
    margin: 0;
}
.post-listing ol li {
    float: left;
    width: 50%;
    margin-bottom: 20px;
}

/* Polaroids */
.aligncenter {
  margin-left: auto;
  margin-right: auto;
}
.wp-caption {
  margin-bottom: 10px;
  text-align: center;
}
.wp-caption-text {
  font-style: italic;
  color: rgb(125, 125, 125);
}
.wp-caption img {
  border: 1px solid #222222;
  border-radius: 3px 3px 3px 3px;
  max-width: 100%;
  padding: 4px 4px 4px 4px;
  text-align: center;
}

/* code snippets */
pre {
    background-color: #151515;
    border: 1px solid #282828;
    margin-bottom: 1rem;
    overflow: auto;
    padding: 1rem;
}
code {
    background-color: #151515;
    border: rgb(70, 70, 70);
    color: rgb(195, 195, 195);
    font-size: 0.85rem;
    padding: 0;
}

/* Footer */
#footer {
  background: linear-gradient( rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 95% );
  font-family: sans-serif;
  font-style: italic;
  margin: 15px 0px 0px 0px;
  padding-top: 5px;
  width: 100%;
}
#footer p {
  color: white;
  margin-bottom: 0.5rem;
  text-align: center;
}
#footer ul {
  font-size: 1rem;
  list-style: none;
  margin-left: 0;
}
