<h3>Casual and Competitive</h3>

<h5>
  Xonotic is easy to learn but hard to master! We strive to provide
  thrilling action for the casual player but also e-sport opportunities
  for those interested in friendly competition. Features such as simple items, 
  fully customizable configs and servers, a functioning anticheat system, spectator 
  mode, and the opportunity to watch and record games make Xonotic
  appealing to competitive players.

  <a href="https://gitlab.com/xonotic/xonotic/wikis/Halogenes_Newbie_Corner#optimizing-perception" title="Read more about optimizing your look and feel">
    <i class="fa fa-info-circle"></i>
  </a>
</h5>
