<h3>Distinctive Weapons</h3>
<h5>Xonotic has 9 core weapons and 16 full weapons in its armory. Each
  has a primary fire and a UT-like secondary fire. They are each useful
in particular situations, so weapon choice is critical. Frag away! 
<a href="https://gitlab.com/xonotic/xonotic/wikis/Halogenes_Newbie_Corner#weapons" title="Read more about weapons"><i class="fa
    fa-info-circle"></i></a></h5>
