    <div id="footer">
      <div class="row" >
        <div class="small-12 medium-3 columns">
          <h4>Home</h4>
          <ul>
            <li><a href="/download" title="get the game">Download</a></li>
            <li><a href="/posts/" title="read the blog">Blog</a></li>
            <li><a href="http://stats.xonotic.org" title="see latest game and player statistics">Stats</a></li>
            <li><a href="/team/" title="meet team xonotic">Team Xonotic</a></li>
            <li><a href="/faq/" title="read the faq">FAQ</a></li>
          </ul>
        </div>

        <div class="small-12 medium-3 columns">
          <h4>Media</h4>
          <ul>
            <li><a href="/images/" title="view images and screenshots of Xonotic">Screenshots</a></li>
            <li><a href="/videos/" title="view videos about Xonotic">Videos</a></li>
          </ul>
        </div>

        <div class="small-12 medium-3 columns">
          <h4>Development</h4>
          <ul>
            <li><a href="https://gitlab.com/groups/xonotic" title="source code">Source code (git)</a></li>
            <li><a href="https://gitlab.com/groups/xonotic/issues?project_id=&amp;scope=all&amp;state=opened" title="development tracker">Issue Tracker</a></li>
            <li><a href="https://gitlab.com/xonotic/xonotic/wikis/home" title="Wiki">Wiki</a></li>
            <li><a href="/tools/cacs" title="Command and cvar search tool">cmd, alias &amp; cvar search</a></li>
          </ul>
        </div>

        <div class="small-12 medium-3 columns">
            <h4>Forums</h4>
            <ul>
              <li><a href="http://forums.xonotic.org/member.php?action=register" title="register for the forums">Register</a></li>
              <li><a href="http://forums.xonotic.org/memberlist.php" title="view the forum member list">Member list</a></li>
              <li><a href="http://forums.xonotic.org/misc.php?action=help" title="help">Help</a></li>
              <li><a href="http://forums.xonotic.org/search.php" title="search the forums">Search</a></li>
            <ul>
        </div>

      </div>
    </div>

    {{ partial "footer_includes.html" . }}
    {{ partial "analytics.html" . }}
  </body>
</html>
