    <link rel="alternate" type="application/rss+xml" title="The Xonotic Blog" href="/index.xml" />
    <link rel="stylesheet" href="/static/css/foundation.min.css" />
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/static/css/blog.css" />
    <script src="/static/js/modernizr.js"></script>
