<div class="panel"> 
  <p>Xonotic is a free and fast-paced first person shooter for Linux, Mac, and
    Windows. It combines addictive, arena-style gameplay with rapid movement
    and a wide array of weapons. Xonotic is available under the permissive
    GPLv2 license. <a href="http://www.xonotic.org/download/" title="Xonotic Download page">Download</a> your copy today!</p>
</div>
