    <!-- NAV -->
    <div class="contain-to-grid">

      <div class="row">
        <div class="small-12 columns">

          <nav class="top-bar" data-topbar="">
            <ul class="title-area">
              <li class="name show-for-medium-up">
                <h1><a href="/">Xonotic</a></h1>
              </li>
              <li class="name show-for-small-only">
                <a href="/"><img src="/static/img/xonotic-icon-mono.png"></a>
              </li>
              <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
            </ul>

            <section class="top-bar-section">
              <!-- Left Nav Section -->
              <ul class="left">
                <li><a href="/download/" title="Download the game"><i class="fa fa-download"></i> Download</a></li>
                <li><a href="/media/" title="View screenshots and videos"><i class="fa fa-picture-o"></i> Media</a></li>
                <li><a href="http://forums.xonotic.org/" title="Visit the community forums"><i class="fa fa-comments"></i> Forums</a></li>
                <li><a href="/posts/" title="Read the blog"><i class="fa fa-book"></i> Blog</a></li>
                <li><a href="http://stats.xonotic.org/" title="View player statistics and recent games"><i class="fa fa-bar-chart"></i> Stats</a></li>
                <li><a href="https://gitlab.com/groups/xonotic" title="Contribute to Xonotic"><i class="fa fa-wrench"></i> Contribute</a></li>
                <li><a href="https://gitlab.com/xonotic/xonotic/wikis/Halogenes_Newbie_Corner" title="Read the beginner's guide"><i class="fa fa-forward"></i> Guide</a></li>
              </ul>
            </section>
          </nav>

        </div>
      </div> <!-- END ROW -->

    </div> <!-- END NAV -->
