<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{ if .Title }}
    <title> {{ .Title }} - Xonotic</title>
    {{ else }}
    <title>Xonotic: The Free and Fast Arena Shooter</title>
    {{ end }}

    {{ partial "includes.html" . }}
    <!--<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">-->
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/cacs.css">
    <script data-main="/static/js/cacs_app" src="../../static/js/require.js"></script>
  </head>

  <body>
    {{ partial "nav.html" . }}

  <section id="wrap">

    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title"><span id="game-name">Xonotic</span> command, alias &amp; cvar search</h3></div>
      <div class="panel-body">

        <p><a href="#" id="cacs_share"><i class="fa fa-share-alt"></i> Share this filtered list</a></p>

        <label class="pull-right"><input type="checkbox" id="use-regex" /> Use Regex</label>

        <table id="cvar-cmd-list" class="table table-striped table-bordered" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Description</th>
              <th>Default Value</th>
            </tr>
          </thead>

          <tfoot>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Description</th>
              <th>Default Value</th>
            </tr>
          </tfoot>
        </table>

      </div><!-- .panel-body -->
    </div><!-- .panel -->

  </section>
<!-- LINKS SECTION -->
<section class="section-links pad text-center">
  <div class="row">

    <div class="small-12 columns">
      <h3>When We're Not Fragging, We're Social!</h3>
      <ul>
        <li><a href="http://webchat.quakenet.org/?channels=xonotic" title="IRC Webchat"><i class="fa fa-comment"></i></a></li>
        <li><a href="https://gitlab.com/groups/xonotic" title="Gitlab"><i class="fa fa-git-square"></i></a></li>
        <li><a href="http://www.facebook.com/pages/Xonotic/106450756044750" title="Facebook"><i class="fa fa-facebook-square"></i></a></li>
        <li><a href="http://twitter.com/xonotic" title="Twitter"><i class="fa fa-twitter-square"></i></a></li>
        <li><a href="http://www.youtube.com/xonotic" title="YouTube"><i class="fa fa-youtube-square"></i></a></li>
        <li><a href="/index.xml" title="RSS"><i class="fa fa-rss-square"></i></a></li>
      </ul>
    </div>

  </div>
</section>

{{ partial "footer.html" . }}
